body {
  font-size: 1.1rem;
  background: #fdfcff;
  font-family: 'Noto Sans HK', sans-serif;
  letter-spacing: 0.025rem;
  background-image: url('/img/background.png');
  background-repeat: repeat;
}

p {
  line-height: 1.4em;
}

small {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1em;
}

h1, h2 {
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  font-size: 2.3em;
  line-height: 1.3em;
  margin-bottom: 50px;
}

h2 {
  font-size: 2.1em;
}

@media only screen and (min-width: 778px) {
  h1 {
    font-size: 2.7em;
  }
}
