body {
  font-size: 1rem;
  background: #fdfcff;
  font-family: 'Noto Sans HK', sans-serif;
  letter-spacing: 0.025rem;
}

p {
  line-height: 1.4em;
}

small {
  font-family: 'Ubuntu Mono', monospace;
}

h1, h2 {
  font-family: 'Permanent Marker', Arial, Helvetica, sans-serif;
  font-size: 1.95em;
  line-height: 1.3em;
}

h2 {
  font-size: 1.8em;
}

@media only screen and (min-width: 778px) {
  body {
    font-size: 1.2rem;
  }
}
