.link,
.link:link,
.link:hover,
.link:active,
.link:focus {
    display: block;
    padding: 0;
    margin: 0 0 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link:hover {
    color: indianred;
}

.link:hover .linkContainer {
    background: #f7f7f8;
}

.linkContainer {
    padding: 10px 15px;
    margin: 0;
    border: 2px black solid;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .16);
    border-radius: 4px;
}

.linkContainer p {
    margin: 0;
    font-size: 1.1em;
}
