.link,
.link:link,
.link:hover,
.link:active,
.link:focus {
    display: block;
    padding: 0;
    margin: 0 0 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link:hover {
    color: #CA4246;
}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 12px 15px;
    margin: 0;
    border: 2px black solid;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .16);
    border-radius: 4px;
}

.link:hover .linkContainer {
    background: #f7f7f8;
}

.linkIcon {
    height: 26px;
    margin: 0 15px 0 0;
}

.link:hover .linkType {
    color: black;
}

.linkType {
    display: inline-block;
    margin-right: 10px;
    padding: 1px 7px;
    border-radius: 10px;
}

.linkText {
    flex: 1;
    margin: 0;
    font-size: 1.1em;
}

.linkTimestamp {
    display: inline-block;
    opacity: .7;
    margin: 0 0 0 5px;
}
