.container {
  display: block;
  margin-bottom: 80px;
}

.containerMinimal {
  margin-bottom: 30px;
}

.containerA,
.containerA:hover,
.containerA:active {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

.container .containerA {
  flex-direction: column;
}

.containerMinimal .containerA {
  flex-direction: row;
}

.textContainer {
  width: 100%;
  margin-left: 0;
}

.containerMinimal .textContainer {
  margin-left: 15px;
}

.title {
  margin: 0 0 6px;
}

.titleLink,
.titleLink:hover,
.titleLink:active,
.titleLink:focus {
  color: black;
  text-decoration: none;
}

.author,
.metadata {
  color: #434343;
}

.author {
  display: block;
  font-family: HeadingFont;
}

.authorSmallText {
  font-size: .8em;
}

.authorName {
  opacity: .8;
  color: black;
  margin-bottom: 20px;
}

.metadata {
  text-align: right;
}

.containerMinimal .metadata {
  font-size: .85em;
}

.imgContainer,
.author {
  margin: 0 0 20px;
}

.img {
  width: 85vw;
  height: 85vw;
  border-radius: 15%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  object-fit: cover;
}
.containerMinimal .img {
  width: 64px;
  height: 64px;
}

.linkContainer {
  text-align: right;
}

@media only screen and (min-width: 500px) {
  .containerA,
  .containerA:hover,
  .containerA:active {
    flex-direction: row;
  }

  .imgContainer {
    display: inline-block;
    margin: 0;
  }

  .img {
    width: 110px;
    height: 110px;
  }

  .container .paddingLeft {
    margin-left: 30px;
  }

  .containerMinimal .paddingLeft {
    margin-left: 15px;
  }
}
