.container {
  flex-direction: column;
  margin: 0 0 30px;
}

.title {
  margin: 0 0 5px;
}

.subtitle {
  font-weight: bold;
  font-family: 'BodyFont', sans-serif;
  margin: 0;
}

.img {
  margin: 0 0 10px;
}
