.container {
  display: flex;
  flex-flow: column;
  margin-bottom: 50px;
}

.imgContainer, .bioContent {
  flex: 50%;
}

.bioContent {
  text-align: center;
  padding: 0;
}

.title {
  margin-bottom: 25px;
}

.img {
  display: block;
  width: 70%;
  margin: 0 auto 25px;
}

.img {
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

@media only screen and (min-width: 778px) {
  .bioContent {
    text-align: left;
    padding: 0 0 0 35px;
  }

  .container {
    flex-flow: row wrap;
  }

  .img {
    width: 100%;
  }
}
