/* Jumbotron */
.title {
    font-size: 1.8em;
    margin: 0 0 30px;
}

.subtitle {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 10px;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.imgContainer {
    position: relative;
    max-width: 500px;
    min-height: 240px;
}

.img {
    object-fit: contain;
}

.link {
    color: #212529;
    font-weight: bold;
}

.link:hover,
.link:active,
.link:focus {
    color: black;
}

/* HRTitle */
.hrContainer {
    position: relative;
    margin-bottom: 50px;
}

.hrTitle {
    position: relative;
    display: inline-block;
    margin: 0 0 15px;
    text-align: center;
    font-weight: bold;
}

.hr {
    width: 100%;
    border: 2px solid black;
    position: absolute;
    margin: 0;
}

@media only screen and (min-width: 778px) {
    .subtitle {
        font-size: 1em;
    }

    .title {
        font-size: 2.2em;
    }
}
