.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 80px;
  cursor: pointer;
}

.textContainer {
  width: 100%;
  margin-left: 0;
}

.title {
  margin: 0;
}

.timestamp {
  display: inline-block;
  margin: 0 0 10px;
}

.img {
  width: 110px;
  height: 110px;
  border-radius: 15%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.linkContainer {
  text-align: right;
}

.linkArrowIcon {
  width: 20px;
}

.container:hover .button {
  text-decoration: underline;
}

@media only screen and (min-width: 778px) {
  .container {
    flex-direction: row;
  }

  .textContainer {
    margin-left: 15px;
  }
}
