.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 60px;
  cursor: pointer;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 6px 8px;
  color: white;
  opacity: .55;
  font-size: 0.55rem;
}

.textContainer {
  width: 100%;
  margin-left: 0;
}

.title {
  margin-bottom: 20px;
}

.img {
  width: 110px;
  height: 110px;
  border-radius: 15%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.linkContainer {
  text-align: right;
}

.linkArrowIcon {
  width: 20px;
}

.container:hover .button {
  text-decoration: underline;
}
