.background {
  background: transparent;
  padding: 25px 0;
}

.navContainer {
  display: flex;
  align-items: center;
}

.navSection {
  flex: 1;
}

.navSectionCentre {
  max-width: 100px;
}

.textRight {
  text-align: right;
}

.textCentre {
  text-align: center;
}

.linkItem {
  margin: 0 10px;
  color: black;
  opacity: .7;
}

.linkItem:hover {
  color: black;
  opacity: 1;
  text-decoration: none;
}

.pageLink, .pageLink:hover,
.brandLink, .brandLink:hover {
  text-decoration: none;
}

.pageLink {
  margin-right: 15px;
  font-family: HeadingFont;
  font-size: .75em;
}

.navLink {
  color: black;
  margin: 0 15px 0 0;
  font-size: .9em;
}

.soundcloud {
  width: 36px;
  opacity: .8;
  transition: opacity 60ms;
}

.soundcloud:hover {
  opacity: .9;
}

@media only screen and (max-width: 562px) {
  .pageLinkContainer {
    display: none;
  }
}
