.container {
  display: flex;
  flex-direction: column;
}

.container .img {
  width: 100%;
}

.imgContainer {
  transition: opacity 80ms;
  cursor: pointer;
}

.imgContainer:hover {
  opacity: .8;
}

.imgContainer .img {
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
}

.captionContainer {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.captionIcon {
  width: 12px;
  margin: 5px 8px 0 0;
  display: inline-block;
}

@media only screen and (min-width: 778px) {
  .container {
    flex-direction: row;
  }

  .container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .galleryItem {
    max-width: 65%;
  }

  .galleryItem.galleryItemFull {
    max-width: 100%;
  }

  .container:nth-child(odd) .captionContainer {
    flex-direction: row-reverse;
    text-align: right;
  }

  .container:nth-child(odd) .captionIcon {
    flex-direction: row-reverse;
    text-align: right;
    margin: 5px 0 0 8px;
  }
}
