.container img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media only screen and (min-width: 778px) {
  .container {
    flex-direction: row;
  }

  .container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .imgContainer {
    max-width: 60%;
  }
}

.captionContainer {
  width: 100%;
}

.container:nth-child(even) .captionContainer {
  padding: 0 15px 0 0;
}

.container:nth-child(odd) .captionContainer {
  padding: 0 0 0 15px;
}
